{% set buildername = "release-{}-{}_chcksms".format(branch, product) %}
-
    taskId: "{{ stableSlugId(buildername) }}"
    requires:
        {% for upstream_builder in artifact_completes_builders + artifact_partials_builders + push_to_releases_extra_upstream_builders %}
        - {{ stableSlugId(upstream_builder) }}
        {% endfor %}
    reruns: 5
    task:
        provisionerId: "buildbot-bridge"
        workerType: "buildbot-bridge"
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        scopes:
            - project:releng:buildbot-bridge:builder-name:{{ buildername }}

        routes:
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.checksums
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.checksums

        payload:
            buildername: "{{ buildername }}"
            sourcestamp:
                branch: "{{ repo_path }}"
                revision: "{{ mozharness_changeset }}"
            properties:
                product: "{{ product }}"
                version: "{{ version }}"
                build_number: {{ buildNumber }}
                release_promotion: true
                revision: "{{ mozharness_changeset }}"
                repo_path: "{{ repo_path }}"
                script_repo_revision: "{{ mozharness_changeset }}"

        metadata:
            name: "{{ product }} {{ branch }} checksums builder"
            description: "Release Promotion checksums job"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {{ task_notifications("{} {} checksums builder".format(product, branch), completed=["releasetasks"], failed=["releasetasks"], exception=["releasetasks"]) | indent(12) }}
            {{ common_extras(taskname=buildername, locales=["null"], platform="null") | indent(12)}}
