{% for platform in partner_repacks_platforms %}
{% set buildername = "release-{}-{}-{}_partner_repacks".format(branch, product, platform) %}
-
    taskId: "{{ stableSlugId(buildername) }}"
    reruns: 5
    requires:
        {% for upstream_builder in artifact_completes_builders %}
        - {{ stableSlugId(upstream_builder) }}
        {% endfor %}
    task:
        provisionerId: "buildbot-bridge"
        workerType: "buildbot-bridge"
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        scopes:
            - project:releng:buildbot-bridge:builder-name:{{ buildername }}
        routes:
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.partner_repacks.{{ platform }}
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.partner_repacks.{{ platform }}
        payload:
            buildername: "{{ buildername }}"
            sourcestamp:
                branch: "{{ repo_path }}"
                revision: "{{ mozharness_changeset }}"
            properties:
                product: "{{ product }}"
                version: "{{ version }}"
                build_number: {{ buildNumber }}
                repo_path: "{{ repo_path }}"
                script_repo_revision: "{{ mozharness_changeset }}"
                release_promotion: true
                revision: "{{ mozharness_changeset }}"
                repack_manifests_url: "git@github.com:mozilla-partners/repack-manifests.git"
        metadata:
            name: "{{ product }} {{ branch }} {{ platform }} partner repacks"
            description: "Release Promotion partner repacks"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {{ common_extras(taskname=buildername, locales=["null"], platform="null") | indent(12)}}
            {{ task_notifications("{} {} {} partner repacks".format(product, branch, platform), completed=["releasetasks"], failed=["releasetasks"], exception=["releasetasks"]) | indent(12) }}
{% endfor %}

{% for platform in eme_free_repacks_platforms %}
{# buildername is passed to buildbot #}
{% set buildername = "release-{}-{}-{}_partner_repacks".format(branch, product, platform) %}
{% set buildername_eme_free = "release-{}-{}-{}_eme_free_repacks".format(branch, product, platform) %}
-
    taskId: "{{ stableSlugId(buildername_eme_free) }}"
    reruns: 5
    requires:
        {% for upstream_builder in artifact_completes_builders %}
        - {{ stableSlugId(upstream_builder) }}
        {% endfor %}
    task:
        provisionerId: "buildbot-bridge"
        workerType: "buildbot-bridge"
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        scopes:
            - project:releng:buildbot-bridge:builder-name:{{ buildername }}
        routes:
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.eme_free_repacks.{{ platform }}
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.eme_free_repacks.{{ platform }}
        payload:
            buildername: "{{ buildername }}"
            sourcestamp:
                branch: "{{ repo_path }}"
                revision: "{{ mozharness_changeset }}"
            properties:
                product: "{{ product }}"
                version: "{{ version }}"
                build_number: {{ buildNumber }}
                repo_path: "{{ repo_path }}"
                script_repo_revision: "{{ mozharness_changeset }}"
                release_promotion: true
                revision: "{{ mozharness_changeset }}"
                repack_manifests_url: "https://github.com/mozilla-partners/mozilla-EME-free-manifest"
        metadata:
            name: "{{ product }} {{ branch }} {{ platform }} EME-free repacks"
            description: "Release Promotion EME-free repacks"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {{ common_extras(taskname=buildername_eme_free, locales=["null"], platform="null") | indent(12)}}
            {{ task_notifications("{} {} {} EME-free repacks".format(product, branch, platform), completed=["releasetasks"], failed=["releasetasks"], exception=["releasetasks"]) | indent(12) }}

{% endfor %}

{% for platform in sha1_repacks_platforms %}
{# buildername is passed to buildbot #}
{% set buildername = "release-{}-{}-{}_partner_repacks".format(branch, product, platform) %}
{% set buildername_sha1 = "release-{}-{}-{}_sha1_repacks".format(branch, product, platform) %}
-
    taskId: "{{ stableSlugId(buildername_sha1) }}"
    reruns: 5
    requires:
        {% for upstream_builder in artifact_completes_builders %}
        - {{ stableSlugId(upstream_builder) }}
        {% endfor %}
    task:
        provisionerId: "buildbot-bridge"
        workerType: "buildbot-bridge"
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        scopes:
            - project:releng:buildbot-bridge:builder-name:{{ buildername }}
        routes:
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.sha1_repacks.{{ platform }}
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.sha1_repacks.{{ platform }}
        payload:
            buildername: "{{ buildername }}"
            sourcestamp:
                branch: "{{ repo_path }}"
                revision: "{{ mozharness_changeset }}"
            properties:
                product: "{{ product }}"
                version: "{{ version }}"
                build_number: {{ buildNumber }}
                repo_path: "{{ repo_path }}"
                script_repo_revision: "{{ mozharness_changeset }}"
                release_promotion: true
                revision: "{{ mozharness_changeset }}"
                repack_manifests_url: "https://github.com/mozilla-partners/mozilla-sha1-manifest"
        metadata:
            name: "{{ product }} {{ branch }} {{ platform }} SHA1 repacks"
            description: "Release Promotion SHA1 repacks"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {{ common_extras(taskname=buildername_sha1, locales=["null"], platform="null") | indent(12)}}
            {{ task_notifications("{} {} {} SHA1 repacks".format(product, branch, platform), completed=["releasetasks"], failed=["releasetasks"], exception=["releasetasks"]) | indent(12) }}
{% endfor %}

{% if push_to_releases_enabled is defined and push_to_releases_enabled %}
{% set buildername_push = "release-{}-{}_partner_repacks_copy_to_releases".format(branch, product) %}

-
    taskId: "{{ stableSlugId(buildername_push) }}"
    requires:
        {% for platform in partner_repacks_platforms %}
        - "{{ stableSlugId("release-{}-{}-{}_partner_repacks".format(branch, product, platform)) }}"
        {% endfor %}
        {% for platform in eme_free_repacks_platforms %}
        - "{{ stableSlugId("release-{}-{}-{}_eme_free_repacks".format(branch, product, platform)) }}"
        {% endfor %}
        {% for platform in sha1_repacks_platforms %}
        - "{{ stableSlugId("release-{}-{}-{}_sha1_repacks".format(branch, product, platform)) }}"
        {% endfor %}
        - "{{ stableSlugId("release-{}_{}_push_to_releases".format(branch, product)) }}"
    reruns: 5
    task:
        provisionerId: aws-provisioner-v1
        workerType: gecko-3-b-linux
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        routes:
            - tc-treeherder-stage.v2.{{ branch }}.{{ revision }}.{{ pushlog_id }}
            - tc-treeherder.v2.{{ branch }}.{{ revision }}.{{ pushlog_id }}
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.partner_push_to_cdn
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.partner_push_to_cdn
        payload:
            maxRunTime: 1800
            image:
                type: task-image
                path: public/image.tar.zst
                taskId: {{ stableSlugId("beetmove_image") }}
            command:
                - /bin/bash
                - -c
                - >
                  wget -O mozharness.tar.bz2 https://hg.mozilla.org/{{ repo_path }}/archive/{{ mozharness_changeset }}.tar.bz2/testing/mozharness &&
                  mkdir mozharness && tar xvfj mozharness.tar.bz2 -C mozharness --strip-components 3 && cd mozharness &&
                  python scripts/release/push-candidate-to-releases.py --product {{ product }} --version {{ version }} --build-number {{ buildNumber }} --bucket {{ beetmover_candidates_bucket }} --exclude '.*/snap/.*'
            env:
                DUMMY_ENV_FOR_ENCRYPT: "fake"
            encryptedEnv:
                - {{ encrypt_env_var(stableSlugId(buildername_push), now_ms,
                                   now_ms + 24 * 4 * 3600 * 1000, 'AWS_ACCESS_KEY_ID',
                                   beetmover_aws_access_key_id) }}
                - {{ encrypt_env_var(stableSlugId(buildername_push), now_ms,
                                   now_ms + 24 * 4 * 3600 * 1000, 'AWS_SECRET_ACCESS_KEY',
                                   beetmover_aws_secret_access_key) }}
        metadata:
            name: "[beetmover] {{ product }} {{ branch }} partner repacks push to releases"
            description: "moves partner repacks to releases dir"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {{ common_extras(taskname=buildername_push, locales=["null"], platform="null") | indent(12)}}
            treeherderEnv:
                - staging
                - production
            treeherder:
                symbol: pp2m
                groupSymbol: BM
                collection:
                    opt: true
                machine:
                    platform: linux64
                build:
                    platform: linux64
            {{ task_notifications("[beetmover] {} {} partner repacks push to releases".format(product, branch), completed=["releasetasks"], failed=["releasetasks"], exception=["releasetasks"]) | indent(12) }}

{% endif %}
