{% for channel in release_channels %}
{% set uv_totalchunks = 12 %}
{% for chunk in range(1, uv_totalchunks + 1) %}
{% set uv_buildername = "release-{}_{}_{}_update_verify".format(branch, product, platform) %}
{% set task_name = "{}_{}_{}".format(uv_buildername, channel, chunk) %}
-
    taskId: "{{ stableSlugId(task_name) }}"
    requires:
        {% for upstream_builder in artifact_completes_builders + artifact_partials_builders %}
        - {{ stableSlugId(upstream_builder) }}
        {% endfor %}
        - {{ stableSlugId("release-{}-{}_updates".format(branch, product)) }}
    reruns: 5
    task:
        provisionerId: buildbot-bridge
        workerType: buildbot-bridge
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        scopes:
            - project:releng:buildbot-bridge:builder-name:{{ uv_buildername }}
        routes:
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.update_verify.{{ channel }}.{{ platform }}.{{ chunk }}
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.update_verify.{{ channel }}.{{ platform }}.{{ chunk }}
        payload:
            buildername: "{{ uv_buildername }}"
            sourcestamp:
                branch: "{{ repo_path }}"
                revision: "{{ revision }}"
            properties:
                product: "{{ product }}"
                version: "{{ version }}"
                build_number: {{ buildNumber }}
                revision: "{{ revision }}"
                release_promotion: true
                script_repo_revision: "{{ "{product}_{version}_BUILD{buildNumber}_RUNTIME".format(
                    product=product.upper(),
                    version=version.replace('.', '_'),
                    buildNumber=buildNumber ) }}"
                NO_BBCONFIG: "1"
                VERIFY_CONFIG: "{{ channel }}-{{ product }}-{{ platform }}.cfg"
                TOTAL_CHUNKS: "{{ uv_totalchunks }}"
                THIS_CHUNK: "{{ chunk }}"

        metadata:
            owner: release@mozilla.com
            source: https://github.com/mozilla/releasetasks
            name: "{{ platform }} {{ channel }} update verification {{ chunk }}/{{ uv_totalchunks }}"
            description: |
                Verifies updates for {{ platform }}

        extra:
            {{ common_extras(taskname=task_name, locales=["null"], platform=platform) | indent(12)}}
            {{ task_notifications("{} {} update verification {}/{}".format(platform, channel, chunk, uv_totalchunks), completed=["releasetasks"], failed=["releasetasks"], exception=["releasetasks"]) | indent(12) }}

{% endfor %}
{% endfor %}
