# keep first line
-
    taskId: "{{ stableSlugId("funsize_update_generator_image") }}"
    reruns: 5
    task:
        provisionerId: aws-provisioner-v1
        workerType: gecko-images
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        routes:
            - tc-treeherder-stage.v2.{{ branch }}.{{ revision }}.{{ pushlog_id }}
            - tc-treeherder.v2.{{ branch }}.{{ revision }}.{{ pushlog_id }}
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.funsize_update_generator_image
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.funsize_update_generator_image
        payload:
            artifacts:
                public/image.tar.zst:
                      expires: {{ now.replace(days=365) }}
                      path: /home/worker/workspace/artifacts/image.tar.zst
                      type: file
            features:
                dind: true
            maxRunTime: 1800
            image: "taskcluster/image_builder:1.3.0"
            env:
                HASH: "{{ revision }}"
                PROJECT: "{{ branch }}"
                IMAGE_NAME: funsize-update-generator
                HG_STORE_PATH: /home/worker/checkouts/hg-store
                CONTEXT_URL: ""
                GECKO_HEAD_REV: "{{ revision }}"
                GECKO_BASE_REPOSITORY: "https://hg.mozilla.org/mozilla-unified"
                GECKO_HEAD_REPOSITORY: "https://hg.mozilla.org/{{ repo_path }}"
        metadata:
            name: "Generate funsize-update-generator docker image"
            description: "Generate funsize-update-generator docker image"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {{ common_extras(taskname="funsize_update_generator_image", locales=["null"], platform="null") | indent(12)}}
            treeherderEnv:
                - production
                - staging
            treeherder:
                symbol: Fu
                groupSymbol: Images
                collection:
                    opt: true
                machine:
                    platform: linux64
                build:
                    platform: linux64
            {{ task_notifications("Generate funsize-update-generator docker image", completed=["releasetasks"], failed=["releasetasks"], exception=["releasetasks"])|indent(12) }}

-
    taskId: "{{ stableSlugId("funsize_balrog_image") }}"
    reruns: 5
    task:
        provisionerId: aws-provisioner-v1
        workerType: gecko-images
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        routes:
            - tc-treeherder-stage.v2.{{ branch }}.{{ revision }}.{{ pushlog_id }}
            - tc-treeherder.v2.{{ branch }}.{{ revision }}.{{ pushlog_id }}
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.funsize_balrog_image
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.funsize_balrog_image
        payload:
            artifacts:
                public/image.tar.zst:
                      expires: {{ now.replace(days=365) }}
                      path: /home/worker/workspace/artifacts/image.tar.zst
                      type: file
            features:
                dind: true
            maxRunTime: 1800
            image: "taskcluster/image_builder:1.3.0"
            env:
                HASH: "{{ revision }}"
                PROJECT: "{{ branch }}"
                IMAGE_NAME: funsize-balrog-submitter
                HG_STORE_PATH: /home/worker/checkouts/hg-store
                CONTEXT_URL: ""
                GECKO_HEAD_REV: "{{ revision }}"
                GECKO_BASE_REPOSITORY: "https://hg.mozilla.org/{{ repo_path }}"
                GECKO_HEAD_REPOSITORY: "https://hg.mozilla.org/{{ repo_path }}"
        metadata:
            name: "Generate funsize-balrog-submitter docker image"
            description: "Generate funsize-balrog-submitter docker image"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {{ task_notifications("Generate funsize-balrog-submitter docker image", completed=["releasetasks"], failed=["releasetasks"], exception=["releasetasks"])|indent(12) }}
            {{ common_extras(taskname="funsize_balrog_image", locales=["null"], platform="null") | indent(12)}}
            treeherderEnv:
                - staging
                - production
            treeherder:
                symbol: Fb
                groupSymbol: Images
                collection:
                    opt: true
                machine:
                    platform: linux64
                build:
                    platform: linux64
