{% set buildername = "{}_source".format(branch) %}
{% set buildername_signing = "{}_signing".format(buildername) %}
{% set buildername_beet = "{}_beet".format(buildername) %}
{% set buildername_beet_signing = "{}_beet".format(buildername_signing) %}
-
    taskId: "{{ stableSlugId(buildername) }}"
    reruns: 5
    task:
        provisionerId: aws-provisioner-v1
        workerType: opt-linux64
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        scopes:
            - docker-worker:cache:tc-vcs
            - docker-worker:image:taskcluster/builder:0.5.9
            - queue:define-task:aws-provisioner-v1/opt-linux64
            - queue:create-task:aws-provisioner-v1/opt-linux64
            - queue:define-task:aws-provisioner-v1/build-c4-2xlarge
            - queue:create-task:aws-provisioner-v1/build-c4-2xlarge
            - docker-worker:cache:build-{{ branch }}-release-workspace
            - docker-worker:cache:tooltool-cache
            - docker-worker:relengapi-proxy:tooltool.download.public

        payload:
            maxRunTime: 7200
            image: taskcluster/desktop-build:0.1.11
            cache:
                build-{{ branch }}-release-workspace: /home/worker/workspace
                tooltool-cache: /home/worker/tooltool-cache
                tc-vcs: /home/worker/.tc-vcs
            artifacts:
                public/build:
                    path: /home/worker/artifacts/
                    expires: {{ now.replace(days=365) }}
                    type: directory
            command:
                - /bin/bash
                - bin/build.sh
            env:
                GECKO_REPOSITORY: "https://hg.mozilla.org/{{ repo_path }}"
                GECKO_HEAD_REV: "{{ revision }}"
                MOZHARNESS_SCRIPT: "mozharness/scripts/fx_desktop_build.py"
                MOZHARNESS_CONFIG: "builds/releng_sub_linux_configs/64_source.py"
                # MH_BRANCH is used for branch specific MH configs
                MH_BRANCH: "{{ branch }}"
                MH_BUILD_POOL: "taskcluster"
                # Don't clone mozharness, use the in-tree version
                MOZHARNESS_DISABLE: "true"
        metadata:
            owner: release@mozilla.com
            source: https://github.com/mozilla/releasetasks
            name: "{{ branch }} source generation"
            description: |
                Generates a source tarball

        routes:
            - tc-treeherder-stage.{{ branch }}.{{ revision_hash }}
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.source_tarball
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.source_tarball
        extra:
            signing:
               signature: {{ sign_task(stableSlugId(buildername), valid_for=4 * 24 * 3600) }}
            {% if running_tests is defined %}
            task_name: "{{ buildername }}"
            {% endif %}

            treeherderEnv:
                - staging
            treeherder:
                symbol: Src
                groupSymbol: Release
                collection:
                    opt: true
                machine:
                    platform: linux64
                build:
                    platform: all
-
    taskId: "{{ stableSlugId(buildername_signing) }}"
    requires:
        - "{{ stableSlugId(buildername) }}"
    reruns: 5
    task:
        provisionerId: signing-provisioner-v1
        workerType: signing-worker-v1
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        scopes:
            - project:releng:signing:format:gpg
            - project:releng:signing:cert:{{ signing_class }}
        payload:
            signingManifest: https://queue.taskcluster.net/v1/task/{{ stableSlugId(buildername) }}/artifacts/public/build/signing_manifest.json
        metadata:
            owner: release@mozilla.com
            source: https://github.com/mozillla/releasetasks
            name: "{{ branch }} source signing"
            description: |
                Sign source tarball

        routes:
            - tc-treeherder-stage.{{ branch }}.{{ revision_hash }}
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.source_tarball_signing
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.source_tarball_signing

        extra:
            signing:
               # assert that this signing task was created by the real releaserunner
               signature: {{ sign_task(stableSlugId(buildername_signing),
                                       valid_for=4 * 24 * 3600) }}
            {% if running_tests is defined %}
            task_name: "{{ buildername_signing }}"
            {% endif %}

            treeherderEnv:
                - staging
            treeherder:
                symbol: Src-S
                groupSymbol: Release
                collection:
                    opt: true
                machine:
                    platform: linux64
                build:
                    platform: all

-
    taskId: "{{ stableSlugId(buildername_beet) }}"
    requires:
        - "{{ stableSlugId(buildername) }}"
    reruns: 5
    task:
        provisionerId: aws-provisioner-v1
        workerType: opt-linux64
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        routes:
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.source_tarball_beetmover
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.source_tarball_beetmover

        payload:
            maxRunTime: 7200
            image: "kmoir/python-beet-runner@sha256:4f6dc84c4386406090a9c72b976be03dea647f01fe45a023d63ce0e479eb3497"
            command:
                - /bin/bash
                - -c
                - >
                  wget -O mozharness.tar.bz2 https://hg.mozilla.org/{{ repo_path }}/archive/{{ mozharness_changeset }}.tar.bz2/testing/mozharness &&
                  mkdir mozharness && tar xvfj mozharness.tar.bz2 -C mozharness --strip-components 3 && cd mozharness &&
                  python scripts/release/beet_mover.py --template configs/beetmover/source.yml.tmpl --platform linux64 --version {{ version }} --app-version {{ appVersion }} --locale en-US --taskid {{ stableSlugId(buildername) }} --build-num build{{ buildNumber }} --bucket {{ beetmover_candidates_bucket }}
            env:
                DUMMY_ENV_FOR_ENCRYPT: "fake"
            encryptedEnv:
                - {{ encrypt_env_var(stableSlugId(buildername_beet), now_ms,
                                   now_ms + 24 * 3600 * 1000, 'AWS_ACCESS_KEY_ID',
                                   beetmover_aws_access_key_id) }}
                - {{ encrypt_env_var(stableSlugId(buildername_beet), now_ms,
                                   now_ms + 24 * 3600 * 1000, 'AWS_SECRET_ACCESS_KEY',
                                   beetmover_aws_secret_access_key) }}
        metadata:
            name: "[beetmover] {{ product }} {{ branch }} move source bundles"
            description: "moves source artifacts to candidates dir"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {% if running_tests is defined %}
            task_name: "{{ buildername_beet}}"
            {% endif %}
            signing:
               signature: {{ sign_task(stableSlugId(buildername_beet), valid_for=4 * 24 * 3600) }}

            treeherderEnv:
                - staging
            treeherder:
                symbol: Src
                groupSymbol: BM
                collection:
                    opt: true
                machine:
                    platform: Linux64
                build:
                    platform: all

-
    taskId: "{{ stableSlugId(buildername_beet_signing) }}"
    requires:
        - "{{ stableSlugId(buildername_signing) }}"
    reruns: 5
    task:
        provisionerId: aws-provisioner-v1
        workerType: opt-linux64
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        routes:
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.source_tarball_sigs_beetmover
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.source_tarball_sigs_beetmover
        payload:
            maxRunTime: 7200
            image: "kmoir/python-beet-runner@sha256:4f6dc84c4386406090a9c72b976be03dea647f01fe45a023d63ce0e479eb3497"
            command:
                - /bin/bash
                - -c
                - >
                  wget -O mozharness.tar.bz2 https://hg.mozilla.org/{{ repo_path }}/archive/{{ mozharness_changeset }}.tar.bz2/testing/mozharness &&
                  mkdir mozharness && tar xvfj mozharness.tar.bz2 -C mozharness --strip-components 3 && cd mozharness &&
                  python scripts/release/beet_mover.py --template configs/beetmover/source_checksums.yml.tmpl --platform linux64 --version {{ version }} --app-version {{ appVersion }} --locale en-US  --artifact-subdir env --taskid "{{ stableSlugId(buildername_signing) }}" --build-num build{{ buildNumber }} --bucket {{ beetmover_candidates_bucket }}
            env:
                DUMMY_ENV_FOR_ENCRYPT: "fake"
            encryptedEnv:
                - {{ encrypt_env_var(stableSlugId(buildername_beet_signing), now_ms,
                                   now_ms + 24 * 3600 * 1000, 'AWS_ACCESS_KEY_ID',
                                   beetmover_aws_access_key_id) }}
                - {{ encrypt_env_var(stableSlugId(buildername_beet_signing), now_ms,
                                   now_ms + 24 * 3600 * 1000, 'AWS_SECRET_ACCESS_KEY',
                                   beetmover_aws_secret_access_key) }}
        metadata:
            name: "[beetmover] {{ product }} {{ branch }} move source bundle checksums"
            description: "moves source artifact checksums to candidates dir"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {% if running_tests is defined %}
            task_name: "{{ buildername_beet_signing }}"
            {% endif %}
            signing:
               signature: {{ sign_task(stableSlugId(buildername_beet_signing), valid_for=4 * 24 * 3600) }}

            treeherderEnv:
                - staging
            treeherder:
                symbol: Src
                groupSymbol: BM
                collection:
                    opt: true
                machine:
                    platform: Linux64
                build:
                    platform: all
