{% set uptake_buildername = "release-{}-{}_uptake_monitoring".format(branch, product) %}
-
    taskId: "{{ stableSlugId('{}_human_decision'.format(uptake_buildername)) }}"
    requires:
        # tests will catch if this buildername changes
        - {{ stableSlugId("release-{}_{}_push_to_releases".format(branch, product)) }}
    reruns: 5
    task:
        provisionerId: "null-provisioner"
        workerType: "human-decision"
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        routes:
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.uptake_human
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.uptake_human

        payload:
            description: "required"
        metadata:
            name: "{{ product }} {{ branch }} uptake monitoring human decision task"
            description: "Release Promotion uptake monitoring human decision task"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            signing:
               signature: {{ sign_task(stableSlugId('{}_human_decision'.format(uptake_buildername)), valid_for=4 * 24 * 3600) }}
            {% if running_tests is defined %}
            task_name: "{{ uptake_buildername }}_human_decision"
            {% endif %}

-
    taskId: "{{ stableSlugId(uptake_buildername) }}"
    requires:
        # tests will catch if this buildername changes
        - {{ stableSlugId('{}_human_decision'.format(uptake_buildername)) }}
    reruns: 5
    task:
        provisionerId: aws-provisioner-v1
        workerType: opt-linux64
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        routes:
            - tc-treeherder-stage.{{ branch }}.{{ revision_hash }}
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.uptake
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.uptake
        payload:
            maxRunTime: 7200
            image: ubuntu
            command:
                - /bin/bash
                - -c
                - >
                  for i in {1..10}; do echo wait...sleep...good dog && sleep 1m; done
        metadata:
            name: "{{ product }} {{ branch }} uptake monitoring"
            description: "for now this does nothing but wait enough for bouncer to point to valid paths in releases dir"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {% if running_tests is defined %}
            task_name: "{{ uptake_buildername }}"
            {% endif %}
            signing:
               signature: {{ sign_task(stableSlugId(uptake_buildername), valid_for=4 * 24 * 3600) }}

            treeherderEnv:
                - staging
            treeherder:
                symbol: up-m
                groupSymbol: Release
                collection:
                    opt: true
                machine:
                    platform: linux64
                build:
                    platform: all
