{% set uptake_buildername = "release-{}-{}_uptake_monitoring".format(branch, product) %}
-
    taskId: "{{ stableSlugId(uptake_buildername) }}"
    requires:
        # tests will catch if this buildername changes
        - {{ stableSlugId("release-{}_{}_push_to_releases".format(branch, product)) }}
    reruns: 5
    task:
        provisionerId: "buildbot-bridge"
        workerType: "buildbot-bridge"
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        scopes:
            - project:releng:buildbot-bridge:builder-name:{{ uptake_buildername }}
        routes:
            - tc-treeherder-stage.{{ branch }}.{{ revision_hash }}
            - tc-treeherder.{{ branch }}.{{ revision_hash }}
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.uptake_monitoring
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.uptake_monitoring
        payload:
            buildername: "{{ uptake_buildername }}"
            sourcestamp:
                branch: "{{ repo_path }}"
                revision: "{{ mozharness_changeset }}"
            properties:
                product: "{{ product }}"
                version: "{{ version }}"
                build_number: {{ buildNumber }}
                repo_path: "{{ repo_path }}"
                script_repo_revision: "{{ mozharness_changeset }}"
                release_promotion: true
                revision: "{{ revision }}"
                tuxedo_server_url: "{{ tuxedo_server_url }}"
                partial_versions: {% set pipe = joiner(", ") %}{% for p, e in sorted(partial_updates.items()) %}{{ pipe() }}{{ "{}build{}".format(p, e["buildNumber"]) }}{% endfor %}
                platforms: {{ en_US_config["platforms"] | sort() | join(", ") }}
        metadata:
            name: "{{ product }} {{ branch }} uptake monitoring"
            description: "Release Promotion uptake monitoring"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {{ common_extras(taskname=uptake_buildername, locales=["null"], platform="null") | indent(12)}}
            treeherderEnv:
                - staging
                - production
            treeherder:
                symbol: up-m
                groupSymbol: Release
                collection:
                    opt: true
                machine:
                    platform: linux64
                build:
                    platform: all
