{% set uptake_buildername = "release-{}-{}_uptake_monitoring".format(branch, product) %}
-
    taskId: "{{ stableSlugId(uptake_buildername) }}"
    requires:
        # tests will catch if this buildername changes
        - {{ stableSlugId("release-{}_{}_push_to_releases".format(branch, product)) }}
    reruns: 5
    task:
        provisionerId: "buildbot-bridge"
        workerType: "buildbot-bridge"
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        scopes:
            - project:releng:buildbot-bridge:builder-name:{{ uptake_buildername }}
        routes:
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.uptake_monitoring
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.uptake_monitoring
        payload:
            buildername: "{{ uptake_buildername }}"
            sourcestamp:
                branch: "{{ repo_path }}"
                revision: "{{ mozharness_changeset }}"
            properties:
                product: "{{ product }}"
                version: "{{ version }}"
                build_number: {{ buildNumber }}
                repo_path: "{{ repo_path }}"
                script_repo_revision: "{{ mozharness_changeset }}"
                release_promotion: true
                revision: "{{ revision }}"
                tuxedo_server_url: "{{ tuxedo_server_url }}"
                partial_versions: {% set pipe = joiner(", ") %}{% for p, e in sorted(partial_updates.items()) %}{{ pipe() }}{{ "{}build{}".format(p, e["buildNumber"]) }}{% endfor %}
                platforms: {{ uptake_monitoring_platforms| sort() | join(", ") }}
        metadata:
            name: "{{ product }} {{ branch }} uptake monitoring"
            description: "Release Promotion uptake monitoring"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {{ common_extras(taskname=uptake_buildername, locales=["null"], platform="null") | indent(12)}}
            {{ task_notifications("{} {} uptake monitoring".format(product, branch), completed=["releasetasks"], failed=["releasetasks"], exception=["releasetasks"]) | indent(12) }}
