{% for platform, platform_info in en_US_config["platforms"].iteritems() %}
{% set buildername = "release-{}_{}_{}_en-US_beetmover_candidates".format(branch, product, platform) %}
-
    taskId: "{{ stableSlugId(buildername) }}"
    reruns: 5
    task:
        provisionerId: aws-provisioner-v1
        workerType: opt-linux64
        created: "{{ now }}"
        deadline: "{{ now.replace(hours=6) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        payload:
            maxRunTime: 7200
            # TODO - create specific image for this
            image: rail/python-test-runner
            command:
                - /bin/bash
                - -c
                - >
                  wget -O mozharness.tar.bz2 https://hg.mozilla.org/{{ repo_path }}/archive/{{ revision }}.tar.bz2/testing/mozharness &&
                  mkdir mozharness && tar xvfj mozharness.tar.bz2 -C mozharness --strip-components 3 && cd mozharness &&
                  python scripts/release/beet_mover.py --template configs/beetmover/en_us.yml.tmpl --platform {{ buildbot2ftp(platform) }} --version {{ version }} --app-version {{ appVersion }} --locale en-US --taskid {{ platform_info['task_id'] }} --build-num build{{ buildNumber }}
            env:
                DUMMY_ENV_FOR_ENCRYPT: "fake"
            encryptedEnv:
                - {{ encrypt_env_var(stableSlugId(buildername), now_ms,
                                   now_ms + 24 * 3600 * 1000, 'AWS_ACCESS_KEY_ID',
                                   beetmover_aws_access_key_id) }}
                - {{ encrypt_env_var(stableSlugId(buildername), now_ms,
                                   now_ms + 24 * 3600 * 1000, 'AWS_SECRET_ACCESS_KEY',
                                   beetmover_aws_secret_access_key) }}
        metadata:
            name: "[beetmover] {{ product }} {{ branch }} {{ platform }} en_US completes candidates"
            description: "moves artifacts for en_US based builds to candidates dir"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {% if running_tests is defined %}
            task_name: "{{ buildername }}"
            {% endif %}
            signing:
               signature: {{ sign_task(stableSlugId(buildername), valid_for=4 * 24 * 3600) }}

            treeherderEnv:
                - staging
            treeherder:
                symbol: en-US
                groupSymbol: BM
                collection:
                    opt: true
                machine:
                    platform: {{ get_treeherder_platform(platform) }}
                build:
                    platform: {{ get_treeherder_platform(platform) }}

{% endfor %} # platforms
