# TODO: make a helper function to generate consistent builder names?
{% set buildername = "release-{}_{}_bncr_sub".format(branch, product) %}
-
    taskId: "{{ stableSlugId(buildername) }}"
    reruns: 5
    task:
        provisionerId: "buildbot-bridge"
        workerType: "buildbot-bridge"
        created: "{{ now }}"
        deadline: "{{ now.replace(hours=36) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        scopes:
            - buildbot-bridge:builder-name:{{ buildername }}

        payload:
            buildername: "{{ buildername }}"
            sourcestamp:
                branch: "{{ repo_path }}"
                revision: "{{ revision }}"
            properties:
                product: "{{ product }}"
                # Quotes cannot be used around this string because the loop causes it to have trailing whitespace
                # (which gets stripped by the yaml parser when unquoted). Kindof hacky.
                version: {{ version }}
                build_number: {{ buildNumber }}
                release_promotion: true
                revision: "{{ revision }}"
                partial_versions: "{{ ",".join(sorted(partial_updates.keys())) }}"
        metadata:
            name: "{{ product }} {{ branch }} bncr sub"
            description: "Release Promotion bouncer submission job"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        {% if running_tests is defined %}
        extra:
            task_name: "{{ buildername }}"
        {% endif %}
