{% for channel in release_channels %}
{% set buildername = "{}_final_verify".format(channel) %}
-
    taskId: "{{ stableSlugId(buildername) }}"
    reruns: 5
    task:
        provisionerId: aws-provisioner-v1
        workerType: b2gtest
        created: "{{ now }}"
        deadline: "{{ now.replace(hours=6) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        payload:
            maxRunTime: 7200
            image: rail/python-test-runner
            command:
                - /bin/bash
                - -c
                - hg clone https://hg.mozilla.org/build/tools && cd tools && hg up -r $TAG && cd release/ && ./final-verification.sh $RELEASE_CONFIGS
            env:
                TAG: "default"
                RELEASE_CONFIGS: {#
                    #}{% for platform in enUS_platforms %}{#
                        #}{{ "{channel}-{product}-{platform}.cfg".format(
                               platform=platform,
                               channel=channel,
                               product=product) }} {#
                    #}{% endfor %}
        metadata:
            owner: release@mozilla.com
            source: https://github.com/mozilla/releasetasks
            name: "{{ branch }} final verification"
            description: |
                Verifies that all release blobs are in the correct place

        {% if running_tests is defined %}
        extra:
            task_name: "{{ buildername }}"
        {% endif %}

        {# TODO: decide what to use here...
        treeherder:
            symbol: FV
            groupSymbol: Release
            collection:
                opt: true
            machine:
                platform: none
            build:
                platform: none
        #}
{% endfor %}
