{% for partial_version, partial_info in partial_updates.iteritems() %}
{# The basename needs to be unique across all jobs in this graph, so we need to
   take into account everything about it that we can have more than one of in a
   single graph (platform, locale, partial_version, and build number). Notable
   things that aren't included in this:
   * branch, product - because funsize isn't implemented in Buildbot we don't
                       need any sort of "builder name" (that's what taskId and
                       taskGraphId are for!)
#}
{% set basename = "{}_{}_{}build{}_funsize".format(platform, locale, partial_version, partial_info["buildNumber"]) %}
-
    taskId: "{{ stableSlugId('{}_update_generator'.format(basename)) }}"
    task:
        created: "{{ now }}"
        deadline: "{{ now.replace(hours=24) }}"
        expires: "{{ never }}"
        priority: "high"
        metadata:
            owner: release+funsize@mozilla.com
            source: https://github.com/mozilla/funsize
            name: "[funsize] Update generating task"
            description: |
                This task generates MAR files and publishes unsigned bits.

        routes:
            - tc-treeherder-stage.{{ branch }}.{{ revision_hash }}
            - index.funsize.v1.{{ branch }}.revision.{{ platform }}.{{ revision }}.{{ locale }}.{{ partial_version }}.updates
            - index.funsize.v1.{{ branch }}.latest.{{ platform }}.{{ locale }}.{{ partial_version }}.updates
        extra:
            {% if running_tests is defined %}
            task_name: "{{ '{}_update_generator'.format(basename) }}"
            {% endif %}
            funsize:
                partials:
                    -
                        locale: {{ locale }}
                        # TODO: consider using stable URL for from_mar
                        from_mar: "http://download.mozilla.org/?product={{ product }}-{{ partial_version }}-complete&os={{ buildbot2bouncer(platform) }}&lang={{ locale }}"
                        # en-US: task ID comes from from buildbot via releaserunner
                        {% if locale == "en-US" %}
                        to_mar: "https://queue.taskcluster.net/v1/task/{{ en_US_config["platforms"][platform]["task_id"] }}/artifacts/public/build/{{ product }}-{{ appVersion }}.{{ locale }}.{{ buildbot2ftp(platform) }}.complete.mar"
                        {% else %}
                        to_mar: "TODO: generate mar url using BBB task_id and locale"
                        {% endif %}
                        platform: {{ platform }}
                        branch: {{ branch }}
                        previousVersion: {{ partial_version }}
                        previousBuildNumber: {{ partial_info["buildNumber"] }}
                        toVersion: {{ version }}
                        toBuildNumber: {{ buildNumber }}
            treeherderEnv:
                - staging
            treeherder:
                symbol: {{ locale }}-{{ partial_version }}-1
                groupSymbol: Update
                collection:
                    opt: true
                machine:
                    platform: {{ get_treeherder_platform(platform) }}
                build:
                    platform: {{ get_treeherder_platform(platform) }}

        workerType: "funsize-mar-generator"
        provisionerId: "aws-provisioner-v1"

        tags:
            createdForUser: release+funsize@mozilla.com

        payload:
            image: "rail/funsize-update-generator:latest"
            maxRunTime: 900
            command:
                - /runme.sh

            env:
                {% if signing_class == "dep-signing" %}
                MOZ_DISABLE_MAR_CERT_VERIFICATION: true
                SIGNING_CERT: "dep"
                {% else %}
                SIGNING_CERT: "release"
                {% endif %}

            artifacts:
                "public/env":
                    path: /home/worker/artifacts/
                    type: directory
                    expires: "{{ never }}"

-
    taskId: "{{ stableSlugId('{}_signing_task'.format(basename)) }}"
    requires:
        - "{{ stableSlugId('{}_update_generator'.format(basename)) }}"
    task:
        created: "{{ now }}"
        deadline: "{{ now.replace(hours=24) }}"
        expires: "{{ never }}"
        priority: "high"
        metadata:
            owner: release+funsize@mozilla.com
            source: https://github.com/mozilla/funsize
            name: "[funsize] MAR signing task"
            description: |
                This task signs MAR files and publishes signed bits.

        routes:
            - tc-treeherder-stage.{{ branch }}.{{ revision_hash }}
            - index.funsize.v1.{{ branch }}.revision.{{ platform }}.{{ revision }}.{{ locale }}.{{ partial_version }}.signing
            - index.funsize.v1.{{ branch }}.latest.{{ platform }}.{{ locale }}.{{ partial_version }}.signing
        extra:
            signing:
               # assert that this signing task was created by the real releaserunner
               signature: {{ sign_task(stableSlugId('{}_signing_task'.format(basename)),
                                       valid_for=8 * 3600) }}
            {% if running_tests is defined %}
            task_name: "{{ '{}_signing_task'.format(basename) }}"
            {% endif %}

            treeherderEnv:
                - staging
            treeherder:
                symbol: {{ locale }}-{{ partial_version }}-2
                groupSymbol: Update
                collection:
                    opt: true
                machine:
                    platform: {{ get_treeherder_platform(platform) }}
                build:
                    platform: {{ get_treeherder_platform(platform) }}

        workerType: "signing-worker-v1"
        provisionerId: "signing-provisioner-v1"
        scopes:
            - signing:cert:{{ signing_class }}
            - signing:format:gpg
            - signing:format:mar
        tags:
            createdForUser: release+funsize@mozilla.com

        payload:
            signingManifest: "https://queue.taskcluster.net/v1/task/{{ stableSlugId('{}_update_generator'.format(basename)) }}/artifacts/public/env/manifest.json"

-
    taskId: "{{ stableSlugId('{}_balrog_task'.format(basename)) }}"
    requires:
        - "{{ stableSlugId('{}_signing_task'.format(basename)) }}"
    task:
        created: "{{ now }}"
        deadline: "{{ now.replace(hours=24) }}"
        expires: "{{ never }}"
        priority: "high"
        routes:
            - tc-treeherder-stage.{{ branch }}.{{ revision_hash }}
            - index.funsize.v1.{{ branch }}.revision.{{ platform }}.{{ revision }}.{{ locale }}.{{ partial_version }}.balrog
            - index.funsize.v1.{{ branch }}.latest.{{ platform }}.{{ locale }}.{{ partial_version }}.balrog
        extra:
            {% if running_tests is defined %}
            task_name: "{{ '{}_balrog_task'.format(basename) }}"
            {% endif %}

            treeherderEnv:
                - staging
            treeherder:
                symbol: {{ locale }}-{{ partial_version }}-3
                groupSymbol: Update
                collection:
                    opt: true
                machine:
                    platform: {{ get_treeherder_platform(platform) }}
                build:
                    platform: {{ get_treeherder_platform(platform) }}

        metadata:
            owner: release+funsize@mozilla.com
            source: https://github.com/mozilla/funsize
            name: "[funsize] Publish to Balrog"
            description: |
                This task publishes signed updates to Balrog.

        workerType: "funsize-balrog"
        provisionerId: "aws-provisioner-v1"
        {% if signing_class != "dep-signing" %}
        scopes:
            - docker-worker:feature:balrogVPNProxy
        {% endif %}
        tags:
            createdForUser: release+funsize@mozilla.com

        payload:
            image: "rail/funsize-balrog-submitter:latest"
            maxRunTime: 1800
            command:
                - /runme.sh

            env:
                {% if signing_class == "dep-signing" %}
                MOZ_DISABLE_MAR_CERT_VERIFICATION: true
                SIGNING_CERT: "dep"
                {% else %}
                SIGNING_CERT: "release"
                {% endif %}
                PARENT_TASK_ARTIFACTS_URL_PREFIX: "https://queue.taskcluster.net/v1/task/{{ stableSlugId('{}_signing_task'.format(basename)) }}/artifacts/public/env"
                BALROG_API_ROOT: {{ balrog_api_root }}
                # TODO: should funsize be publishing to an s3 bucket? or will beetmover do that?
                {% if extra_balrog_submitter_params is defined %}
                EXTRA_BALROG_SUBMITTER_PARAMS: "{{ extra_balrog_submitter_params }}"
                {% endif %}
            encryptedEnv:
                - {{ encrypt_env_var(stableSlugId('{}_balrog_task'.format(basename)), now_ms,
                                    now_ms + 24 * 3600 * 1000, "BALROG_USERNAME",
                                    balrog_username) }}
                - {{ encrypt_env_var(stableSlugId('{}_balrog_task'.format(basename)), now_ms,
                                    now_ms + 24 * 3600 * 1000, "BALROG_PASSWORD",
                                    balrog_password) }}
            {% if signing_class != "dep-signing" %}
            features:
                balrogVPNProxy: true
            {% endif %}

{% endfor %}
