{% for platform in l10n_platforms %}
{% for chunk in range(1, l10n_chunks+1) %}
# TODO: make a helper function to generate consistent builder names?
{% set buildername = "{}_{}_{}_l10n_repack_{}/{}".format(branch, product, platform, chunk, l10n_chunks) %}
-
    taskId: "{{ stable_slug_id(buildername) }}"
    reruns: 5
    task:
        provisionerId: "buildbot-bridge"
        workerType: "buildbot-bridge"
        created: "{{ now }}"
        deadline: "{{ now.replace(hours=36) }}"
        expires: {{ never }}"
        priority: "high"
        retries: 5
        
        payload:
            buildername: "{{ buildername }}"
            sourcestamp:
                branch: "{{ repo_path }}"
                revision: "{{ revision }}"
            properties:
                # TODO: only pass locales from chunk N
                extra_args: "{%- for locale, locale_revision in l10n_changesets.iteritems() -%}
                    --locale {{ '{}:{} '.format(locale, locale_revision)}}
                {%- endfor -%}"

        metadata:
            name: "{{ product }} {{ branch }} {{ platform }} l10n repack {{ chunk }}/{{ l10n_chunks }}"

{% endfor %}
{% endfor %}
