---
metadata:
    name: "Release Promotion"
    description: "Release Promotion"
    owner: "release@mozilla.com"
    source: "https://github.com/rail/releasetasks"

scopes:
  - signing:format:gpg
  - queue:define-task:buildbot-bridge/buildbot-bridge
  - queue:create-task:buildbot-bridge/buildbot-bridge
  - queue:task-priority:high
  # TODO: need a better way to specify dev/prod scopes
  - project:releng:buildbot-bridge:builder-name:release-date*
{% if source_enabled or push_to_candidates_enabled %}
  - queue:define-task:aws-provisioner-v1/opt-linux64
  - queue:create-task:aws-provisioner-v1/opt-linux64
{% endif %}
{% if source_enabled %}
  - docker-worker:cache:tc-vcs
  - docker-worker:image:taskcluster/builder:*
  - queue:define-task:aws-provisioner-v1/build-c4-2xlarge
  - queue:create-task:aws-provisioner-v1/build-c4-2xlarge
  - docker-worker:cache:build-{{ branch }}-release-workspace
  - docker-worker:cache:tooltool-cache
  - signing:cert:{{ signing_class }}
  - signing:format:gpg
  - docker-worker:relengapi-proxy:tooltool.download.public
{% endif %}
{% if updates_enabled %}
  - queue:*
  - docker-worker:*
  - scheduler:*
  - signing:format:mar
  - signing:cert:{{ signing_class }}
{# dep signing uses Balrog dev environment, which is publicly available and
   this doesn't need to use the proxy
#}
{% if signing_class != "dep-signing" %}
  - docker-worker:feature:balrogVPNProxy
{% endif %}
{% endif %}

tasks:
    {% if en_US_config.get("platforms") %}
        # partials (funsize) and push to candidates (beetmover)
        {% macro enUS_tasks() %}
            {% include "enUS.yml.tmpl" %}
        {% endmacro %}
        {{ enUS_tasks()|indent(4) }}
    {% endif %}

    {% if l10n_config.get("platforms") %}
        # repacks, partials (funsize) and push to candidates (beetmover)
        {% macro l10n_tasks() %}
            {% include "l10n.yml.tmpl" %}
        {% endmacro %}
        {{ l10n_tasks()|indent(4) }}
    {% endif %}

    {% if source_enabled %}
        {% macro source_tasks() %}
            {% include "source.yml.tmpl" %}
        {% endmacro %}
        {{ source_tasks()|indent(4) }}
    {% endif %}

    {% if bouncer_enabled %}
        {% macro bouncer_tasks() %}
            {% include "bouncer.yml.tmpl" %}
        {% endmacro %}
        {{ bouncer_tasks()|indent(4) }}
    {% endif %}

    {% if release_channels is defined %}
        {% macro updateVerify_task(platform) %}
            {% if platform in ["linux", "linux64"] %}
                {% include "tc_update_verify.yml.tmpl" %}
            {# Commented Out until I create the bridge template
            {% else %}
                {% include "bb_update_verify.yml.tmpl" %}
            # End comment #}
            {% endif %}
        {% endmacro %}
        {% for plat in en_US_config["platforms"].keys() %}
            {{ updateVerify_task(plat)|indent(4) }}
        {% endfor %}

        {% macro finalVerify_tasks() %}
            {% include "final_verify.yml.tmpl" %}
        {% endmacro %}
        {{ finalVerify_tasks()|indent(4) }}
    {% endif %}

    {% if postrelease_version_bump_enabled %}
        {% macro version_bump_tasks() %}
            {% include "version_bump.yml.tmpl" %}
        {% endmacro %}
        {{ version_bump_tasks()|indent(4) }}
    {% endif %}
