---
metadata:
    name: "Release Promotion"
    description": "Release Promotion"
    owner: "release@mozilla.com"
    source: "https://github.com/rail/releasetasks"

tasks:
    {% macro l10n_tasks() %}{% include "l10n.yml.tmpl" %}{% endmacro %}
    {{ l10n_tasks()|indent(4) }}
