{% for channel in release_channels %}
{% set uv_totalchunks = 12 %}
{% for chunk in range(1, uv_totalchunks + 1) %}
{% set uv_buildername = "{}_{}_update_verify_{}".format(platform, channel, chunk) %}
-
    taskId: "{{ stableSlugId(uv_buildername) }}"
    requires:
        {% for upstream_builder in artifact_completes_builders + artifact_partials_builders %}
        - {{ stableSlugId(upstream_builder) }}
        {% endfor %}
        - {{ stableSlugId("release-{}-{}_updates".format(branch, product)) }}
    reruns: 5
    task:
        provisionerId: aws-provisioner-v1
        workerType: opt-linux64
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        payload:
            maxRunTime: 7200
            image: callek/update-test-runner2
            command:
                - /bin/bash
                - -c
                - hg clone https://hg.mozilla.org/{{ build_tools_repo_path }} tools && cd tools && hg up -r $TAG && cd .. && /tools/scripts/release/updates/chunked-verify.sh UNUSED UNUSED $TOTAL_CHUNKS $THIS_CHUNK
            env:
                TAG: "{{ "{product}_{version}_BUILD{buildNumber}_RUNTIME".format(
                    product=product.upper(),
                    version=version.replace('.', '_'),
                    buildNumber=buildNumber ) }}"
                TOTAL_CHUNKS: "{{ uv_totalchunks }}"
                THIS_CHUNK: "{{ chunk }}"
                NO_BBCONFIG: "1"
                VERIFY_CONFIG: "{{ "{channel}-{product}-{platform}.cfg".format(
                                   platform=platform,
                                   channel=channel,
                                   product=product) }}"
        metadata:
            owner: release@mozilla.com
            source: https://github.com/mozilla/releasetasks
            name: "{{ platform }} {{ channel }} update verification ({{ chunk }})"
            description: |
                Verifies updates for {{ platform }}

        extra:
            signing:
               signature: {{ sign_task(stableSlugId(uv_buildername), valid_for=4 * 24 * 3600) }}
            {% if running_tests is defined %}
            task_name: "{{ uv_buildername }}"
            {% endif %}

        {# TODO: decide what to use here...
        treeherder:
            symbol: UV
            groupSymbol: Release
            collection:
                opt: true
            machine:
                platform: {{ platform }}
            build:
                platform: none
        #}
{% endfor %}
{% endfor %}
