# keep first line
-
    taskId: "{{ stableSlugId("beetmove_image") }}"
    reruns: 5
    task:
        provisionerId: aws-provisioner-v1
        workerType: gecko-images
        created: "{{ now }}"
        deadline: "{{ now.replace(days=4) }}"
        expires: "{{ never }}"
        priority: "high"
        retries: 5
        routes:
            - tc-treeherder-stage.v2.{{ branch }}.{{ revision }}.{{ pushlog_id }}
            - tc-treeherder.v2.{{ branch }}.{{ revision }}.{{ pushlog_id }}
            - index.releases.v1.{{ branch }}.{{ revision }}.{{ product }}.{{ version | replace(".", "_") }}.build{{ buildNumber }}.beetmove_image
            - index.releases.v1.{{ branch }}.latest.{{ product }}.latest.beetmove_image
        payload:
            artifacts:
                public/image.tar.zst:
                      expires: {{ now.replace(days=365) }}
                      path: /home/worker/workspace/artifacts/image.tar.zst
                      type: file
            features:
                dind: true
            maxRunTime: 1800
            image: "taskcluster/image_builder:1.3.0"
            env:
                HASH: "{{ revision }}"
                PROJECT: "{{ branch }}"
                IMAGE_NAME: beet-mover
                HG_STORE_PATH: /home/worker/checkouts/hg-store
                CONTEXT_URL: ""
                GECKO_HEAD_REV: "{{ revision }}"
                GECKO_BASE_REPOSITORY: "https://hg.mozilla.org/mozilla-unified"
                GECKO_HEAD_REPOSITORY: "https://hg.mozilla.org/{{ repo_path }}"
        metadata:
            name: "Generate beetmover docker image"
            description: "Refresh AV DB of beetmover docker image"
            owner: "release@mozilla.com"
            source: https://github.com/mozilla/releasetasks

        extra:
            {{ task_notifications("Generate beetmover docker image", completed=["releasetasks"], failed=["releasetasks"], exception=["releasetasks"]) | indent(12) }}
            {{ common_extras(taskname="beetmove_image", locales=["null"], platform="null") | indent(12)}}
            treeherderEnv:
                - staging
                - production
            treeherder:
                symbol: Bm
                groupSymbol: Images
                collection:
                    opt: true
                machine:
                    platform: android-4-0-armv7-api15
                build:
                    platform: android-4-0-armv7-api15
