# store all en-US artifact generating tasks for upstream builder purposes
{% set artifact_completes_builders = [] %}
{% set artifact_partials_builders = [] %}
{% set balrog_submission_builders = [] %}
{% set push_to_releases_extra_upstream_builders = [] %}

{% macro common_extras(taskname, locales, platform) %}
{% include "common_extras.yml.tmpl" %}
{% endmacro %}

{% macro task_notifications(taskname, failed=None, exception=None, artifact=None, completed=None) %}
{% include "notifications.yml.tmpl" %}
{% endmacro %}
---
metadata:
    name: "Release Promotion"
    description: "Release Promotion"
    owner: "release@mozilla.com"
    source: "https://github.com/rail/releasetasks"

scopes:
  - project:releng:signing:format:gpg
  - queue:define-task:buildbot-bridge/buildbot-bridge
  - queue:create-task:buildbot-bridge/buildbot-bridge
  - queue:task-priority:high
  # TODO: need a better way to specify dev/prod scopes
  - project:releng:buildbot-bridge:builder-name:release-*
  - queue:define-task:aws-provisioner-v1/gecko-3-b-linux
  - queue:create-task:aws-provisioner-v1/gecko-3-b-linux
  - docker-worker:cache:tc-vcs
  - docker-worker:image:taskcluster/builder:*
  - queue:define-task:aws-provisioner-v1/build-c4-2xlarge
  - queue:create-task:aws-provisioner-v1/build-c4-2xlarge
  - docker-worker:cache:build-{{ branch }}-release-workspace
  - docker-worker:cache:tooltool-cache
  - project:releng:signing:cert:{{ signing_class }}
  - docker-worker:relengapi-proxy:tooltool.download.public
  - queue:*
  - docker-worker:*
  - scheduler:*
  - project:releng:signing:cert:{{ signing_class }}
  - assume:hook-id:project-releng/candidates-fennec-release
{# dep signing uses Balrog dev environment, which is publicly available and
   this doesn't need to use the proxy
#}
{% if signing_class != "dep-signing" %}
  - docker-worker:feature:balrogVPNProxy
{% endif %}

tasks:
    {% if source_enabled %}
        {% macro source_tasks() %}
            {% include "source.yml.tmpl" %}
        {% endmacro %}
        {{ source_tasks()|indent(4) }}
    {% endif %}

    {% if push_to_candidates_enabled is defined and push_to_candidates_enabled %}
        {% macro beetmove_image_task() %}
            {% include "beetmove_image.yml.tmpl" %}
        {% endmacro %}
        {{ beetmove_image_task()|indent(4) }}
    {% endif %}

    {% if bouncer_enabled %}
        {% macro bouncer_tasks() %}
            {% include "bouncer.yml.tmpl" %}
        {% endmacro %}
        {{ bouncer_tasks()|indent(4) }}
    {% endif %}

    {% if checksums_enabled %}
        {% macro checksums_tasks() %}
            {% include "checksums.yml.tmpl" %}
        {% endmacro %}
        {{ checksums_tasks()|indent(4) }}
    {% endif %}

    {% if candidates_fennec_enabled %}
      {% macro candidate_fennec_tasks() %}
          {% include "candidates_fennec.yml.tmpl" %}
      {% endmacro %}
      {{ candidate_fennec_tasks()|indent(4) }}
    {% endif %}

    {% if push_to_releases_enabled %}
        {% macro push_to_releases_tasks() %}
            {% include "push_to_releases.yml.tmpl" %}
        {% endmacro %}
        {{ push_to_releases_tasks()|indent(4) }}

        {% if uptake_monitoring_enabled %}
          {% macro uptake_monitoring_tasks() %}
              {% include "uptake_monitoring.yml.tmpl" %}
          {% endmacro %}
          {{ uptake_monitoring_tasks()|indent(4) }}
        {% endif %}
    {% endif %}

    {% if publish_to_balrog_channels %}
        {% macro publish_balrog_tasks() %}
            {% include "publish_balrog.yml.tmpl" %}
        {% endmacro %}
        {{ publish_balrog_tasks()|indent(4) }}
    {% endif %}

    {% if postrelease_bouncer_aliases_enabled %}
        {% macro bouncer_aliases_tasks() %}
            {% include "bouncer_aliases.yml.tmpl" %}
        {% endmacro %}
        {{ bouncer_aliases_tasks()|indent(4) }}
    {% endif %}

    {% if postrelease_version_bump_enabled %}
        {% macro version_bump_tasks() %}
            {% include "version_bump.yml.tmpl" %}
        {% endmacro %}
        {{ version_bump_tasks()|indent(4) }}
    {% endif %}

    {% if postrelease_mark_as_shipped_enabled %}
        {% macro mark_as_shipped_tasks() %}
            {% include "mark_as_shipped.yml.tmpl" %}
        {% endmacro %}
        {{ mark_as_shipped_tasks()|indent(4) }}
    {% endif %}
